/* #0A369D, #4472CA, #5E7CE2, #92B4F4, #CFDEE7 */


body {
    background-image: linear-gradient( to bottom, white, #f26ca7 70%);
}

h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 35px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#length {
    background-image: linear-gradient(180deg, #F0A7A0, #f26ca7);
    min-height: 100vh;
    min-width: 90vw;
    border-radius: 35px 35px 0px 0px;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.container {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
}


 .container .element {
    position: relative;
    width: 20px;
    height: 20px;
    background-color:  #eec8c5;
    /* border-radius: 50%; */
    scale: 0.8;
}



